.about-options {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-options li, .about-options a {
  margin: 10px 0;
  font-size: 1.25em;
}
.about-options a {
  color: black;
  text-decoration: none;
}
.about-options li:hover, .about-options a:hover {
  color: $light-blue;
  cursor: pointer;
}