.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background-color: $gray;
  color: white;
  padding: 20px 0;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    color: black;
    padding: 0;

  }
}

.navbar-title {
  display: none;
  @include tablet {
    display: inline;
    margin-left: 10px;
  }
}

.navbar ul {
  margin: 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include tablet {
    margin-left: auto;
    margin-right: 10px;
  }

}

.nav-link {
  display: block;
  font-weight: 700;
  margin: 0 5px;
  color: white;
  @include tablet {
    color: black;
  }
  cursor: pointer;
}

@include tablet {
  .nav-link:hover {
    color: $light-blue;
  }
}
