@import "mixins";
@import "colors";

html, body, #root, #reactRoot {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', sans-serif;
}

.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;

  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;

  opacity: 0;
}

.section-heading {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@import "navbar";
@import "footer";
@import "dots";
@import "Sections/main_section";
@import "Sections/portfolio";
@import "Sections/experience";
@import "Sections/about";