.portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.portfolio-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  @include desktop {
    flex-direction: row;
    max-width: 80%;
  }
}

.portfolio-content {
  display: flex;
  flex-direction: column;
}

.portfolio-title {
  margin: 20px auto 10px auto;
  @include desktop {
    margin: 0 auto;
  }
}

.portfolio-overview-image {
  width: 500px;
  max-width: 90%;
  height: 800px;
  object-fit: cover;
  margin: 5% auto;
  @include desktop {
    margin: 0 60px;
  }
}

.portfolio-overview-body {
  margin-top: 20px;
  white-space: pre-line;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.portfolio-link {
  color: gray;
}

@include desktop {
  .portfolio-link:hover {
    color: $light-blue;
  }
}